/*
=============== 
Variables
===============
*/

:root {
  /* primary/main color */
  --clr-primary-5: hsl(205, 78%, 60%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-black: rgb(0, 0, 0);
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  --max-width: 1170px;
  --fixed-width: 450px;
}
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
} 

h3 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-size: 1.25rem;
}

@media screen and (min-width: 800px) {
  h3 {
    font-size: 1.75rem;
    line-height: 1;
  }
  body {
    font-size: 1rem;
}
}

.item {
  background: var(--clr-white);
  display: flex;
  justify-content: space-between;
  max-width: var(--fixed-width);
  margin: 2rem auto;
  align-items: center;
  border-radius: var(--radius);
  padding: 1rem 2rem;
}
.item Button {
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-5);
  letter-spacing: var(--spacing);
  cursor: pointer;
}

.del{
  justify-content: space-between;
  max-width: var(--fixed-width);
  margin: 1rem auto;
  text-align: center;
}

.input {
  display: flex;
  justify-content: space-between;
  max-width: var(--fixed-width);
  margin: auto;
  align-items: center;
  border-radius: var(--radius);
  color: var(--clr-black);
  padding: 1rem 2rem;
}